<section id="about-me" class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
        关于我<span
          class="ml-2 text-lg before:mx-2 before:text-primary-950/70 before:content-['/'] before:dark:text-primary-200/70"
          >About</span
        >
      </h2>
      <div class="flex flex-col items-start gap-2 sm:gap-4 lg:col-span-2">
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          初中毕业于成都西川中学，中考英语全班第一，高中英语年级第一。从未参加过额外的英语补习，有独特的英语自学方法和个人理解。
        </p>
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          曾获全国大学生“普译奖”翻译比赛优秀奖、英语突出单项奖。高考英语 140分，大学英语六级 600分。
        </p>
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          211大学(SAU)金融专业与文化产业管理<strong>双学位</strong
          >毕业，1年以上外企工作经验，发音标准。
        </p>
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          具备<strong>TESOL/TEFL</strong
          >资质，熟悉国内外教育体系，了解国内外教育政策，熟悉国内外教材，有丰富的教学经验。
        </p>
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          4年以上一线线上线下教学经验，擅长一对一及小班教学，教学经验丰富，课堂氛围良好，善于因材施教。
        </p>
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          善于和学生交流谈心，建立信任，从兴趣入手，调动学生学习积极性，深刻理解学生的心理需求。
        </p>
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          运用多媒体教学资源，拓宽学生的知识视野，拓展丰富，互动多，让学习成为一种乐趣。
        </p>
        <p class="text-base text-primary-950 dark:text-primary-200 sm:text-lg">
          对英语教学充满热情，爱岗敬业，对每一位学生负责到底。
        </p>
      </div>
    </div>
  </div>
</section>
