<section id="contact" class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="flex flex-col items-center gap-8 rounded-3xl bg-primary-500/10 px-5 py-16 dark:bg-primary-400/10 sm:gap-10"
    >
      <div class="flex flex-1 flex-col gap-4 sm:gap-6">
        <h2 class="mx-auto text-3xl font-medium tracking-tight sm:text-4xl">
          一起探索英语世界的无限可能！
        </h2>
        <p class="mx-auto max-w-2xl text-lg text-primary-950/70 dark:text-primary-200/70">
          扫码下方微信咨询详情，预约试听
        </p>
        <img
          class="w-[350px] self-center rounded-xl dark:brightness-75"
          src="/assets/qr-code.jpg"
          alt="weixin"
        />
      </div>
    </div>
  </div>
</section>
