---
import { Image } from 'astro:assets'
import heroImg from '../../images/hero.webp'
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-8">
          <h1 class="relative text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Hello, <br /> Nice to meet you
            <svg
              class="absolute bottom-0 right-0 size-36 translate-x-full rotate-12"
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7"
              ></path><path d="M10 10l.01 0"></path><path d="M14 10l.01 0"></path><path
                d="M10 14a3.5 3.5 0 0 0 4 0"></path></svg
            >
          </h1>
          <div>
            <p
              class="mb-2 text-lg font-semibold text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
            >
              Everyone blooms differently.
            </p>
            <p
              class="text-lg font-semibold text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
            >
              语言即生活
            </p>
          </div>
        </div>
        <div class="flex gap-6">
          <a
            href="#lessons"
            class="inline-flex items-center justify-center rounded-xl border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
          >
            开始学习
          </a>
          <a
            href="#contact"
            class="inline-flex items-center justify-center rounded-xl border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
          >
            联系我
          </a>
        </div>
      </div>
      <Image
        class="h-auto w-full rounded-3xl bg-primary-500/10 dark:bg-primary-400/10"
        src={heroImg}
        alt="Hero picture"
      />
    </div>
  </div>
</section>
