---
const testimonials = [
  '针对一年级学生，深入了解了他们的学习状况和需求后，制定了一份量身定制的学习计划，有效促进了他们的英语进步。',
  '对五年级学生进行深入教授，回顾并巩固了国际音标等英语基础知识，有效提升了学生对课堂内容的掌握和理解能力。',
  '在教授初一至初二小班课（3人班）期间，引导学生完成了两个单元的预习与复习，学生们取得了显著的成绩提高。',
  '通过线上授课，指导即将升入初三的学生，通过有针对性的复习和预习，帮助她在班级测验中获得前五的优异成绩。',
  '教授成都树德中学的高一女生至高二上学期，通过复习巩固知识，纠正学习习惯，从基础薄弱到高二入学考试成绩提升50+分，帮助她掌握了有效的学习方法。',
  '为成都某国际幼儿园小朋友提供英语教学，一年之内，孩子已能流利进行英语对话，并能朗读英文绘本。',
  '对零基础且准备出国的女士进行英语口语及旅行日常用语的培训，有效提升了她的英语实际应用能力。',
  '针对英语成绩不理想的三年级学生，制定了针对性的学习计划，通过独特的记忆方法加强单词记忆，基础得到巩固，成绩得到显著提高。',
  '教授零基础的男生使用新概念2教材，帮助他建立了学习习惯，从对英语不感兴趣到积极学习，家长对此非常满意并主动提薪。',
  '对英语不感兴趣的成都石室中学高一男生采用因材施教的方式，通过他感兴趣的内容制作个性化的入门级阅读材料，显著提高了他对英语的兴趣和成绩。',
  '线上授课六年级的学生，根据他自身的兴趣展开绘本的教学，夯实了基础。并且每日监督打卡。',
  '线上授课一名实外高二学生，使用国外母语者版本剑桥教材，准备雅思。',
  '教授一位准备出国的零基础夫妻，使用原版教材和新概念，激发兴趣。',
  '教授同一家六年级和三年级的学生，观察学生的表现，在读与写上分别进行拓展，两名学生都渐入佳境，家长十分满意。',
  '教授一名五年级的学生，起初英语成绩不理想，通过了解兴趣，缤并制定详细的学习计划后，传授做题技巧，通过小游戏等进行单词记忆，基础得到巩固，成绩得到显著提高。',
]
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        教学表现<span
          class="ml-2 text-lg before:mx-2 before:text-primary-950/70 before:content-['/'] before:dark:text-primary-200/70"
          >Teaching Performance</span
        >
      </h2>
      <div
        class="grid gap-y-2 divide-y divide-primary-900/10 dark:divide-primary-300/10 lg:grid-cols-3 lg:gap-y-8 lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0 lg:[&:nth-child(3n+2)]:border">
              <div class="flex flex-row gap-2">
                {[...Array(3)].map(() => (
                  <svg
                    class="h-6 w-6 text-primary-600 dark:text-primary-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="text-center text-lg italic leading-loose text-primary-950/70 dark:text-primary-200/70">
                <p>{testimonial}</p>
              </blockquote>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
